<div class="requests">
  {{#each reqs}}
    <div class="request clearfix">
      <dl class="dl-horizontal">
        <dt>Received</dt>
        <dd>{{this.received}}</dd>
        <dt>IP</dt>
        <dd>{{this.ip}}</dd>

        <dt>Method</dt>
        <dd>{{this.method}}</dd>

        <dt>Query string params</dt>
        <dd>
          <div class="params">
            {{print this.query}}
          </div>
        </dd>

        {{#if this.body}}
          <dt>Body params</dt>
          <dd>
            <div class="params">
              {{print this.body}}
            </div>
          </dd>
        {{/if}}

        {{#if this.headers}}
          <dt>Headers</dt>
          <dd>
            <div class="params">
              {{print this.headers}}
            </div>
          </dd>
        {{/if}}
      </dl>
    </div>
  {{/each}}
</div>
